@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap');

*{
  font-family: 'Work Sans', sans-serif;
}


/* Loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*Loader End */

.container{
  max-width: 90%;
  margin: 0 auto;
}


button{
  padding: 5px 12px;
  border-radius: 5px;
}






.hero{
  background: url('../src/assets/Hero\ BKG.png') no-repeat center/cover;
}

.hero .container{
  padding-top: 100px;
}

.hero ul li{
  display: flex;
  align-items: center;
}

.hero ul li span{
  margin-right: 10px;
}



.email-input-container{
   width: 500px;
   min-width: 500px;
   max-width: 500px;
}

@media(max-width: 600px){
  .email-input-container {
      width: 300px;
      min-width: 300px;
      max-width: 300px;
    }
}

.email-input-container input {

  background: white;
  width: 100%;
  border-radius: 6px;
  padding: 6px 20px;
  min-height: 100%; 
  margin-right: 5px;
  outline: none;
}

.numbers-section{
    -webkit-box-shadow: 0px -10px 10px #F3E6FF;
      -moz-box-shadow: 0px -10px 10px #F3E6FF;
      box-shadow: 0px -10px 10px #F3E6FF;
}

.numbers-section{
  background: linear-gradient(to bottom, #F8F2FF, white);
}

.purple-bg{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 70vh;
  width: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, #DFB8FF, white);
}



@media(max-width: 768px) {

  .feature-item img {
    order: -1 !important;
  }
}



footer a{
  margin-right: 15px;
  font-size: 18px;
}


